Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

chore: limit FIPS e2e tests to v4.19 only
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: model-transparency branch
  konflux-configs/base/project/overlay/cli-stacks/patch/model-transparency-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/template.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-4/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: nudges for model-transparency-go
  konflux-configs/base/project/overlay/model-transparency-go/patch/model-transparency-go.yaml
  konflux-configs/base/project/overlay/model-transparency-go/template.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Attempting Hack Fix for e2e
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  tasks/integration-test/derive-release-info.yaml
Due: none

Testing changes
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
Due: none

chore(deps): update registry.redhat.io/ubi9/go-toolset docker digest to 1c1259373
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: tuf branch on cli-stack
  konflux-configs/base/project/overlay/cli-stacks/patch/tuftool-cli-stack.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding fbc-4.22
  konflux-configs/base/project/base/ocp/rhtas/v4.22/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating 4.22 references
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Making Tests optional
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Catching last 4-22 Issue
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding fbc-4.22 (#502)
  konflux-configs/base/project/base/ocp/rhtas/v4.22/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: update fips check task
  tasks/fips-check.yaml
Due: none

chore: update fips check ref
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

New Task to allow for centralisation of release-version tags
  konflux-configs/base/config/kustomization.yaml
  konflux-configs/base/config/rhtas-versions.properties
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Updating PCO and mvo versions
  konflux-configs/base/config/rhtas-versions.properties
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Source Branch
  tasks/get-version-from-configmap.yaml
Due: none

Adding targeted branch read from annotation
  tasks/get-version-from-configmap.yaml
Due: none

Correcting Annotations
  tasks/get-version-from-configmap.yaml
Due: none

Test
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

SECURESIGN-4484 Change appstudio-utils image to task-runner image
  pipelines/konflux/integration-test.yaml
  tasks/apply-manifest.yaml
  tasks/derive-product-version.yaml
  tasks/extract-and-apply-manifests.yaml
  tasks/monitor-release.yaml
  tasks/parse-release-config.yaml
  tasks/process-release-plans.yaml
  tasks/process-releases.yaml
  tasks/push-to-github.yaml
  tasks/validate-latest-snapshot.yaml
Due: deploy-konflux-config-on-pull-request, release-on-pull-request

chore: bump fo version for unit tests
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  tasks/go-unit-test-oci-ta.yaml
  tasks/go-unit-test.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

add: model transparency 1.0
  konflux-configs/base/stream/model-validation/overlay/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/v1-0/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/v1-0/kustomizeconfig.yaml
  konflux-configs/base/stream/model-validation/overlay/v1-0/patch/mintmaker.yaml
  konflux-configs/base/stream/model-validation/overlay/v1-0/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Migrate PCO FBC to per-version component pattern matching RHTAS FBC
  konflux-configs/base/project/base/ocp/pco/v4.16/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.17/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.18/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.19/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.20/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.21/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.21/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.22/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/v4.22/patch.yaml
  konflux-configs/base/project/overlay/pco-fbc/kustomization.yaml
  konflux-configs/base/project/overlay/pco-fbc/template.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-22/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-22/patch.yaml
  konflux-configs/base/stream/policy-controller/overlay/fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/fbc/kustomizeconfig.yaml
  konflux-configs/base/stream/policy-controller/overlay/fbc/release-stream.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-16.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-17.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-18.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-19.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-20.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-21.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-16-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-17-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-18-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-19-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-20-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-21-tech-preview.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: onboard sigstore-a2a to Konflux with agent-card-validation stream
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/sigstore-a2a/kustomization.yaml
  konflux-configs/base/project/overlay/sigstore-a2a/patch/sigstore-a2a.yaml
  konflux-configs/base/project/overlay/sigstore-a2a/project.yaml
  konflux-configs/base/project/overlay/sigstore-a2a/template.yaml
  konflux-configs/base/stream/agent-card-validation/base/kustomization.yaml
  konflux-configs/base/stream/agent-card-validation/base/sigstore-a2a.yaml
  konflux-configs/base/stream/agent-card-validation/overlay/kustomization.yaml
  konflux-configs/base/stream/agent-card-validation/overlay/main/kustomization.yaml
  konflux-configs/base/stream/agent-card-validation/overlay/main/kustomizeconfig.yaml
  konflux-configs/base/stream/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Add RHTAS console
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Relese process dependency repaired (#342)
  pipelines/release.yaml
Due: release-on-pull-request

made prepare-molecule-test seperate file
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/prepare-molecule-tests.yaml
Due: none

test: point pipelines to eli/dupeCode branch for testing
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

fix: update nudge chain for cli-stack architecture
  konflux-configs/base/project/overlay/cli-stacks/patch/cosign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/fetch-tsa-certs-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/gitsign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/rekor-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/trillian-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/tuftool-cli-stack.yaml
  konflux-configs/base/project/overlay/create-tree/patch/create-tree.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
  konflux-configs/base/project/overlay/tough/patch/tuf-tool.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

changed ref to test branch
  pipelines/integration-test/ansible.yaml
Due: none

chore: enable parallel execution
  tasks/integration-test/operator-e2e.yaml
Due: none

test: add debug log to verify branch in test runs
  tasks/integration-test/prepare-molecule-tests.yaml
Due: none

Add ALLOW_CROSS_PLATFORM_IMAGES parameter support
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

SECURESIGN-4640 Add rhtas-versions.properties file
  konflux-configs/README.md
  konflux-configs/base/config/kustomization.yaml
  konflux-configs/base/config/rhtas-versions.properties
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Change refs for PR pipelines testing
  .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml
  .tekton/docker-build-oci-ta-pull-request.yaml
  .tekton/docker-build-pull-request.yaml
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Fix pipeline bug
  tasks/get-version-from-configmap.yaml
Due: none

fix: update pco metadata task
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
Due: none
