Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

fix: fix securesign-e2e
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

chore: use latest supported OCP
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/rhtas-operator/template.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/stream.yaml
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: enable latest OCP and reduce testing matrix
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: fix rpm signiture scan task
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

chore: onboard pco 1.1
  konflux-configs/base/stream/policy-controller/overlay/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-1/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-1/kustomizeconfig.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-1/patch/mintmaker.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-1/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add v1-5 RHTAS stream
  konflux-configs/base/stream/rhtas/overlay/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-5/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-5/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-5/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: disable mintmaker PRs for rhtas v1-3 stream
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/mintmaker.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat(fbc): validate graph and catalog before build
  .tekton/fbc-builder-pull-request.yaml
  pipeline-tests/fbc/validate.sh
  pipelines/fbc-builder.yaml
  tasks/validate-fbc-graph-sync.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

chore(fbc): pin graph validation task
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

chore(konflux): align v1.5 CLI stack with model-transparency v1.0
  konflux-configs/base/stream/model-validation/overlay/v1-0/patch/stream.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-5/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore(konflux): align v1.5 CLI stack with model-transparency v1.0 (#649)
  konflux-configs/base/stream/model-validation/overlay/v1-0/patch/stream.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-5/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
