Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

chore: mark 4.22 as optional
  konflux-configs/base/project/base/ocp/pco/v4.22/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

refactor aws-cleanup
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/aws-cleanup-ec2-instances.yaml
Due: none

added debugging
  tasks/integration-test/aws-cleanup-ec2-instances.yaml
Due: none

point aws-cleanup to eli/dupeCode for testing
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

Fix playwright install: migrate to mxschmitt/playwright-go
  tasks/integration-test/sigstore-e2e.yaml
Due: none

change ref to to eli/dupeCode
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

use anonymous auth for crane to avoid robot credentials conflict
  tasks/integration-test/prepare-molecule-tests.yaml
Due: none

removed debugging
  tasks/integration-test/aws-cleanup-ec2-instances.yaml
  tasks/integration-test/prepare-molecule-tests.yaml
Due: none

feat: add ALLOW_CROSS_PLATFORM_IMAGES param to multi-platform pipeline
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Fix playwright install: migrate to mxschmitt/playwright-go (#548)
  tasks/integration-test/sigstore-e2e.yaml
Due: none

refactor prepare-test made it into reusable file
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/prepare-tests.yaml
Due: none

updated refs
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

updated refs
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

test
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

remove debugging
  tasks/integration-test/prepare-tests.yaml
Due: none

Revert "Investigate duplicated code in the pipelines "
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/aws-cleanup-ec2-instances.yaml
  tasks/integration-test/prepare-molecule-tests.yaml
  tasks/integration-test/prepare-tests.yaml
Due: none

fix: revert bump prefetch-dependencies
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: add squid proxy to E2E tasks for staging Developer Portal access
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: configure ec for pipelines repo
  konflux-configs/base/application/pipelines/base/ec.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix
  tasks/integration-test/prepare-tests.yaml
Due: none

update prepare-tests workdir param to accept subdirectory name
  tasks/integration-test/prepare-tests.yaml
Due: none

Add tufcli to cli-stacks and create tufcli project overlay
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/tufcli-cli-stack.yaml
  konflux-configs/base/project/overlay/tufcli/kustomization.yaml
  konflux-configs/base/project/overlay/tufcli/patch/tufcli-init.yaml
  konflux-configs/base/project/overlay/tufcli/patch/tufcli.yaml
  konflux-configs/base/project/overlay/tufcli/project.yaml
  konflux-configs/base/project/overlay/tufcli/template.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/tufcli-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: correct ansible molecule path after revert
  pipelines/integration-test/ansible.yaml
Due: none

guard aws-cleanup against empty instance list
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

debug
  pipelines/integration-test/ansible.yaml
Due: none

more debugging
  pipelines/integration-test/ansible.yaml
Due: none

add DOCKER_CONFIG env to crane export for anonymous auth
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

SECURESIGN-4640 Add rhtas-versions.properties file
  konflux-configs/README.md
  konflux-configs/base/config/kustomization.yaml
  konflux-configs/base/config/rhtas-versions.properties
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Change refs for PR pipelines testing
  .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml
  .tekton/docker-build-oci-ta-pull-request.yaml
  .tekton/docker-build-pull-request.yaml
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Fix pipeline bug
  konflux-configs/base/project/base/ec/kustomization.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updates
  konflux-configs/base/project/base/ec/kustomization.yaml
  konflux-configs/base/project/base/ec/patch/registry-rhtas-operator-group-only.yaml
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Update versions
  konflux-configs/base/config/rhtas-versions.properties
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: clone subdirectory mismatch and missing runAfter in ansible pipeline
  pipelines/integration-test/ansible.yaml
Due: none

reverted some changes made
  pipelines/integration-test/ansible.yaml
Due: none

fix: add DOCKER_CONFIG, runAfter, and AWS cleanup guard to ansible pipelines
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
Due: none

fix: update prepare-tests workdir to prepend workspace path
  tasks/integration-test/prepare-tests.yaml
Due: none

chore: service account migration
  konflux-configs/README.md
  konflux-configs/base/application/base/promote-to-candidate/releaseplan.yaml
  konflux-configs/base/project/base/release-plan/patch/component.yaml
  konflux-configs/base/project/base/release-plan/patch/fbc.yaml
  konflux-configs/base/project/base/release-plan/patch/operator.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/konflux-bot-1.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/kustomization.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/releaseplan.yaml
  konflux-configs/base/service-account/konflux-bot-0.yaml
  konflux-configs/base/service-account/kustomization.yaml
  konflux-configs/base/service-account/promote-to-candidate-sa.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add tufcli-init
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
