Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

branch parameter added to taskSpec
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Removing unnecessary branch parameter
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Correctly propagating branch parameter
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Remove duplicate default parameter
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Removed wrong parenthesis
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Branch not used for pipelines
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

e2e clone step must depend on parse-metadata step
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Clone info to check, which version was cloned for operator and e2e tests
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Clone info steps removed
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

TAS E2E branch name generated from application version
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/parse-metadata.yaml
Due: none

Accidently removed pipeline restored with changes to use new parameter from parse-metadata
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Yaml formatting repaired
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Using dev branch in pipelines
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Intendation repaired
  tasks/integration-test/parse-metadata.yaml
Due: none

Reverting to use main branch
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Updating OperatorUpgrade
  pipelines/integration-test/operator-upgrade.yaml
Due: none

Test Changes
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: Add 1.3 image mirrors
  pipelines/integration-test/operator-dast.yaml
Due: none

Hard Coding release-1.3
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: add aah login
  tasks/integration-test/ansible/run-molecule-tests.yaml
Due: none

feat: add olm v1 tests
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Not used parameter branch removed from e2e tests
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Not used parameter branch removed from e2e tests (#309)
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: release branch
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  pipelines/integration-test/ansible.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

dep: ensure tasks are updated by mintmaker
  renovate.json
Due: none

test: Use self-signed cert for dex
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
Due: none

ci: add required label
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

add rekor-monitor application
  konflux-configs/base/application/rekor-monitor/base/application.yaml
  konflux-configs/base/application/rekor-monitor/base/component.yaml
  konflux-configs/base/application/rekor-monitor/base/imagerepository.yaml
  konflux-configs/base/application/rekor-monitor/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

update: add ctlog-monitor to rekor-monitor project
  konflux-configs/base/application/rekor-monitor/base/application.yaml
  konflux-configs/base/application/rekor-monitor/base/component.yaml
  konflux-configs/base/application/rekor-monitor/base/imagerepository.yaml
  konflux-configs/base/application/rekor-monitor/base/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add ctlog-monitor component (#320)
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

update vars in rekor-monitor project to fix template parsing error
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: template parsing error in rekor-monitor project (#321)
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: fix mintmaker error
  konflux-configs/Dockerfile
  tasks/fips-check.yaml
  tasks/integration-test/rapidast.yaml
  tasks/test-snapshot-component.yaml
  tasks/wait-for-pipelinerun.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: remove unused stream resources in konflux-config
  konflux-configs/base/stream/overlay/main/ansible-stream.yaml
  konflux-configs/base/stream/overlay/main/kustomization.yaml
  konflux-configs/base/stream/overlay/main/kustomizeconfig.yaml
  konflux-configs/base/stream/overlay/main/rhtas-operator-stream.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomizeconfig.yaml
  konflux-configs/base/stream/overlay/v1-2/patch/mintmaker.yaml
  konflux-configs/base/stream/overlay/v1-2/rhtas-operator-stream.yaml
  konflux-configs/base/stream/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-3/kustomizeconfig.yaml
  konflux-configs/base/stream/overlay/v1-3/rhtas-operator-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

e2e: add-fips-enabled-e2e
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-keycloak.yaml
  stepactions/integration-test/install-tas.yaml
Due: none

ci: add fips e2e to operator and FBC's
  konflux-configs/base/project/base/ocp/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding TAS Components
  konflux-configs/base/application/TAS-Components/application.yaml
  konflux-configs/base/application/TAS-Components/component.yaml
  konflux-configs/base/application/TAS-Components/imagerepository.yaml
  konflux-configs/base/application/TAS-Components/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request
