Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

Updating tag
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Updating to 1.3.0
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Updating to 1.3.1
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Test
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: update revision for MCO/PCO to use main candidate revision and remove trailing spaces
  konflux-configs/base/application/model-transparency/base/patch/releaseplan.yaml
  konflux-configs/base/application/model-validation-operator/base/component.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/releaseplan.yaml
  konflux-configs/base/application/policy-controller-operator/base/component.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/releaseplan.yaml
  konflux-configs/base/application/policy-controller/base/patch/releaseplan.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: Run copy as root
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: Run copy as root
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

ci: use pull_request_target for fork PR support
  .github/workflows/kustomize-diff.yaml
Due: none

Fix typo in description for group context
  konflux-configs/base/project/base/ec/patch/registry-rhtas-operator.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: tas e2e ns
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: tas e2e ns
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: ansible e2e
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/ansible/build-test-cache.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
Due: none

fix: ansible upgrade
  pipelines/integration-test/ansible-upgrade.yaml
Due: none

fix: derive-release task
  tasks/integration-test/derive-release-info.yaml
Due: none

Renabling Mintmaker for 1.2
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/mintmaker.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: disable upgrade on 1.2
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: reduce e2e scenarios
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  pipelines/integration-test/ansible.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: use dynamic matrix param generation
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  konflux-configs/base/project/overlay/ansible/template.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/ansible.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/ansible.yaml
  pipelines/integration-test/ansible.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: ansible param parsing
  pipelines/integration-test/ansible.yaml
Due: none

fix: use env for scenarios param
  pipelines/integration-test/ansible.yaml
Due: none

Updating Pipelines with Product Version Param
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: Use major.minor version for CPE labels
  tasks/derive-product-version.yaml
Due: none

fix: Use major.minor version for CPE labels - pipeline work
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

testing fix
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

feat: Add nudges-ref for component images
  konflux-configs/base/project/overlay/client-server/patch/client-server.yaml
  konflux-configs/base/project/overlay/create-tree/patch/create-tree.yaml
  konflux-configs/base/project/overlay/rekor-monitor/patch/rekor-monitor.yaml
  konflux-configs/base/project/overlay/tas-components/patch/backfill-redis.yaml
  konflux-configs/base/project/overlay/tas-components/patch/certificate-transparency-go.yaml
  konflux-configs/base/project/overlay/tas-components/patch/fulcio-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/redis.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-search.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/timestamp-authority.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-database.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logserver.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logsigner.yaml
  konflux-configs/base/project/overlay/tough/patch/tuffer.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: nudge PRs automerge
  konflux-configs/base/config/kustomization.yaml
  konflux-configs/overlay/dev/kustomization.yaml
  konflux-configs/overlay/prod/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

e2e: add pco upgrade pipeline
  pipelines/integration-test/pco-operator-upgrade.yaml
Due: none

Red Hat Konflux update configuration-as-code
  .tekton/configuration-as-code-pull-request.yaml
  .tekton/configuration-as-code-push.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push

chore: enable cli server nudges
  konflux-configs/base/project/overlay/create-tree/patch/create-tree.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
  konflux-configs/base/project/overlay/tough/patch/tuf-tool.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

(feat): add new component - model transparency go
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/model-transparency-go/base/application.yaml
  konflux-configs/base/application/model-transparency-go/base/component.yaml
  konflux-configs/base/application/model-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/model-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/model-transparency-go/base/patch/releaseplan.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

deps: update go e2e runner
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: none

Hard coded test
  pipelines/integration-test/operator-upgrade.yaml
Due: none

chore: store debug info
  pipelines/integration-test/operator-upgrade.yaml
Due: none

pco: onboard pco to streams
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/application.yaml
  konflux-configs/base/application/policy-controller-operator/base/component.yaml
  konflux-configs/base/application/policy-controller-operator/base/e2e.yaml
  konflux-configs/base/application/policy-controller-operator/base/ec-group.yaml
  konflux-configs/base/application/policy-controller-operator/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller-operator/base/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/ec.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/releaseplan.yaml
  konflux-configs/base/application/policy-controller/base/application.yaml
  konflux-configs/base/application/policy-controller/base/component.yaml
  konflux-configs/base/application/policy-controller/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller/base/kustomization.yaml
  konflux-configs/base/application/policy-controller/base/patch/releaseplan.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/kustomization.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/imagerepository.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/manager.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/releaseplan.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/project.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/template.yaml
  konflux-configs/base/project/overlay/policy-controller/kustomization.yaml
  konflux-configs/base/project/overlay/policy-controller/patch/policy-controller.yaml
  konflux-configs/base/project/overlay/policy-controller/patch/releaseplan.yaml
  konflux-configs/base/project/overlay/policy-controller/project.yaml
  konflux-configs/base/project/overlay/policy-controller/template.yaml
  konflux-configs/base/stream/policy-controller/base/kustomization.yaml
  konflux-configs/base/stream/policy-controller/base/policy-controller-operator.yaml
  konflux-configs/base/stream/policy-controller/base/policy-controller.yaml
  konflux-configs/base/stream/policy-controller/overlay/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/kustomizeconfig.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/kustomizeconfig.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/patch/mintmaker.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: bump base images to 1.25.5
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  tasks/go-unit-test-oci-ta.yaml
  tasks/go-unit-test.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

chore: Make tests mandatory
  konflux-configs/base/project/base/ocp/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: add OCP 4.21
  konflux-configs/base/project/base/ocp/v4.21/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.21/patch.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: add fbc promoto-to-candidate plans for 4.20 and 4.21
  konflux-configs/base/release-plan/promote-to-candidate/fbc/overlays/fbc-v4-20/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/fbc/overlays/fbc-v4-20/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/fbc/overlays/fbc-v4-21/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/fbc/overlays/fbc-v4-21/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/fbc/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-20/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-20/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-21/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/pco-fbc/overlays/pco-fbc-v4-21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: remove unused scaffold releaseplan
  konflux-configs/base/release-plan/promote-to-candidate/components/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/base/releaseplan.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/scaffold/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/scaffold/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: set test tasks resources
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none
