Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

onboard binary cli stacks
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/cosign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/fetch-tsa-certs-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/gitsign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/rekor-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/updatetree-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/project.yaml
  konflux-configs/base/project/overlay/cli-stacks/template.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/stream/rhtas/base/cli-stacks-stream.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

add cli stack
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/cosign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/fetch-tsa-certs-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/gitsign-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/rekor-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/updatetree-cli-stack.yaml
  konflux-configs/base/project/overlay/cli-stacks/project.yaml
  konflux-configs/base/project/overlay/cli-stacks/template.yaml
  konflux-configs/base/stream/rhtas/base/cli-stacks-stream.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

enable cli stacks for other binaries
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

group trillian binaries
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/trillian-cli-stack.yaml
  konflux-configs/base/project/overlay/create-tree/patch/create-tree.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Model-Validation Agent and its related Patch
  konflux-configs/base/project/overlay/model-validation-operator/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/agent.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/imagerepository.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/patch/exclude-model-validation-agent.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating MVO to include agent Image
  konflux-configs/base/stream/model-validation/overlay/tech-preview/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/patch/exclude-model-validation-agent.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

onboard tuf to cli-stack application
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/tuftool-cli-stack.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

add model transparency go to z-stream
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/model-transparency-go/base/application.yaml
  konflux-configs/base/application/model-transparency-go/base/component.yaml
  konflux-configs/base/application/model-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/model-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/model-transparency-go/base/patch/releaseplan.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency-go/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency-go/patch/model-transparency-go.yaml
  konflux-configs/base/project/overlay/model-transparency-go/project.yaml
  konflux-configs/base/project/overlay/model-transparency-go/template.yaml
  konflux-configs/base/stream/model-validation/base/kustomization.yaml
  konflux-configs/base/stream/model-validation/base/model-transparency-go.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

add model transparency go cli stack
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/model-transparency-cli-stack.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: add get-manager for MVO
  pipelines/docker-build-multi-platform-oci-ta.yaml
  tasks/wait-for-pipelinerun.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

fix: use digest
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

add conforma cli stack
  konflux-configs/base/project/overlay/cli-stacks/kustomization.yaml
  konflux-configs/base/project/overlay/cli-stacks/patch/conforma-cli-stack.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: add image repo resources for pco fbc
  konflux-configs/base/project/base/ocp/pco/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Imported rhtas-console & rhtas-console-ui as code
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/rhtas-console/base/application.yaml
  konflux-configs/base/application/rhtas-console/base/component.yaml
  konflux-configs/base/application/rhtas-console/base/imagerepository.yaml
  konflux-configs/base/application/rhtas-console/base/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/patch/rhtas-console-ui.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/project.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/template.yaml
  konflux-configs/base/project/overlay/rhtas-console/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console/patch/rhtas-console.yaml
  konflux-configs/base/project/overlay/rhtas-console/project.yaml
  konflux-configs/base/project/overlay/rhtas-console/template.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rhtas-console-stream.yaml
  konflux-configs/base/stream/rhtas/base/rhtas-console-ui-stream-yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix merged console & console ui together
  config.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/patch/rhtas-console-ui.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/project.yaml
  konflux-configs/base/project/overlay/rhtas-console-ui/template.yaml
  konflux-configs/base/project/overlay/rhtas-console/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-console/patch/rhtas-console.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rhtas-console-ui-stream-yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

removed config.yaml
  config.yaml
Due: none

excluded v1.2 & v1.3
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-rhtas-console.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/exclude-rhtas-console.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

added exlude to kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-rhtas-console.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Chore: Disabling/1.2Mintmaker
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/mintmaker.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

update conforma cli stack
  konflux-configs/base/project/overlay/cli-stacks/patch/conforma-cli-stack.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: add pco 1-0-0 stream, disable mintmaker for tech-preview
  konflux-configs/base/stream/policy-controller/overlay/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-0/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-0/kustomizeconfig.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-0/patch/mintmaker.yaml
  konflux-configs/base/stream/policy-controller/overlay/v1-0/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Creating v1-4 RHTAS Stream
  konflux-configs/base/stream/rhtas/overlay/v1-4/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-4/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-4/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding v1-4 in base stream kustomize
  konflux-configs/base/stream/rhtas/overlay/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing v1-2 Stream from RHTAS stream
  konflux-configs/base/stream/rhtas/overlay/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-rekor-monitor.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-rhtas-console.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/mintmaker.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating Go images for pipelines
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  tasks/go-unit-test-oci-ta.yaml
  tasks/go-unit-test.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

feat: enable Rekor Search UI e2e tests in Konflux pipeline
  tasks/integration-test/sigstore-e2e.yaml
Due: none

feat: enable Rekor Search UI e2e tests in Konflux pipeline (#478)
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: install playwright before creating vendor
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: install playwright before creating vendor (#479)
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: Install Chromium system dependencies via dnf
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: Install Chromium system dependencies via dnf (#480)
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: increase timeout for additional test cases
  tasks/integration-test/operator-e2e.yaml
Due: none

fix: gstreamer1: install failed
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: gstreamer1: install failed (#484)
  tasks/integration-test/sigstore-e2e.yaml
Due: none

Updating Python Run
  pipelines/integration-test/ansible-upgrade.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
Due: none

feat: upload E2E coverage to Codecov for policy-controller-operator
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: none

Ansible Reversion test
  pipelines/integration-test/ansible-upgrade.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
Due: none

fix: operator and ansible image repos
  konflux-configs/base/project/overlay/ansible/patch/collection.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/manager.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

add Qodo configuration
  .pr_agent.toml
Due: none
