Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

task: add fips-check task
  tasks/fips-check.yaml
Due: none

pipeline: update pipeline with fips check task
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

feat: add timestamp-authority application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/timestamp-authority/base/application.yaml
  konflux-configs/base/application/timestamp-authority/base/component.yaml
  konflux-configs/base/application/timestamp-authority/base/imagerepository.yaml
  konflux-configs/base/application/timestamp-authority/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/timestamp-authority/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/timestamp-authority/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: mvo e2e pipeline test
  pipelines/integration-test/model-validation-operator-e2e.yaml
  stepactions/integration-test/prepare-mvo-env.yaml
Due: none

feat: add Fulcio application
  konflux-configs/base/application/fulcio/base/application.yaml
  konflux-configs/base/application/fulcio/base/component.yaml
  konflux-configs/base/application/fulcio/base/imagerepository.yaml
  konflux-configs/base/application/fulcio/base/kustomization.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/fulcio/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/fulcio/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: mvo e2e pipeline remove description
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: mvo e2e pipeline remove finally block
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: mvo e2e pipeline fix clone path
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci:
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: mvo e2e trigger pipeline for bundle
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: mvo e2e push image state update
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix workspaces e2e
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

f1
  tasks/fips-check.yaml
Due: none

f2
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

ci: fix push test image stage
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

chore(dep): update docker-build-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

feat: add certificate-transparency-go application
  konflux-configs/base/application/certificate-transparency-go/base/application.yaml
  konflux-configs/base/application/certificate-transparency-go/base/component.yaml
  konflux-configs/base/application/certificate-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/certificate-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/certificate-transparency-go/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/certificate-transparency-go/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add Trillian application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/trillian/base/application.yaml
  konflux-configs/base/application/trillian/base/component.yaml
  konflux-configs/base/application/trillian/base/imagerepository.yaml
  konflux-configs/base/application/trillian/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/trillian/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/trillian/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add tough application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/tough/base/application.yaml
  konflux-configs/base/application/tough/base/component.yaml
  konflux-configs/base/application/tough/base/imagerepository.yaml
  konflux-configs/base/application/tough/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/tough/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/tough/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: interpretation of mintmaker.appstudio.redhat.com/disabled value
  konflux-configs/base/project/overlay/ansible/patch/collection.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/manager.yaml
  konflux-configs/overlay/dev/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add segment-backup-job application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/segment-backup-job/base/application.yaml
  konflux-configs/base/application/segment-backup-job/base/component.yaml
  konflux-configs/base/application/segment-backup-job/base/imagerepository.yaml
  konflux-configs/base/application/segment-backup-job/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/segment-backup-job/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/segment-backup-job/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add rhtas-console application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/rhtas-console/base/application.yaml
  konflux-configs/base/application/rhtas-console/base/component.yaml
  konflux-configs/base/application/rhtas-console/base/imagerepository.yaml
  konflux-configs/base/application/rhtas-console/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add policy-controller applications
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/application.yaml
  konflux-configs/base/application/policy-controller-operator/base/component.yaml
  konflux-configs/base/application/policy-controller-operator/base/e2e.yaml
  konflux-configs/base/application/policy-controller-operator/base/ec-group.yaml
  konflux-configs/base/application/policy-controller-operator/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller-operator/base/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/ec.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/releaseplan.yaml
  konflux-configs/base/application/policy-controller/base/application.yaml
  konflux-configs/base/application/policy-controller/base/component.yaml
  konflux-configs/base/application/policy-controller/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller/base/kustomization.yaml
  konflux-configs/base/application/policy-controller/base/patch/releaseplan.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/policy-controller/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/base/releaseplan.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/policy-controller-operator/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/policy-controller-operator/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: mvo e2e pipeline fix
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix openssl dependency
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix openssl install location stage
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix buildah run
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix builah image builds
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: buildah fixes for container creation
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix binaries kubectl path
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: fix e2e stage
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: retrieve logs + fix e2e
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

e2e: add v4.20
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

feat: add cli application
  konflux-configs/base/application/cli/base/application.yaml
  konflux-configs/base/application/cli/base/component.yaml
  konflux-configs/base/application/cli/base/imagerepository.yaml
  konflux-configs/base/application/cli/base/kustomization.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/cli/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/cli/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add model-transparency application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/model-transparency/base/application.yaml
  konflux-configs/base/application/model-transparency/base/component.yaml
  konflux-configs/base/application/model-transparency/base/imagerepository.yaml
  konflux-configs/base/application/model-transparency/base/kustomization.yaml
  konflux-configs/base/application/model-transparency/base/patch/releaseplan.yaml
  konflux-configs/base/application/model-validation-operator/base/application.yaml
  konflux-configs/base/application/model-validation-operator/base/component.yaml
  konflux-configs/base/application/model-validation-operator/base/ec-group.yaml
  konflux-configs/base/application/model-validation-operator/base/imagerepository.yaml
  konflux-configs/base/application/model-validation-operator/base/kustomization.yaml
  konflux-configs/base/application/model-validation-operator/base/monorepo.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/ec.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/releaseplan.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: fix final stage
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none
