Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

Updating rekor-monitor entry
  konflux-configs/base/application/tas-components/base/component.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Deleting Old Configurations
  konflux-configs/base/application/certificate-transparency-go/base/application.yaml
  konflux-configs/base/application/certificate-transparency-go/base/component.yaml
  konflux-configs/base/application/certificate-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/certificate-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/fulcio/base/application.yaml
  konflux-configs/base/application/fulcio/base/component.yaml
  konflux-configs/base/application/fulcio/base/imagerepository.yaml
  konflux-configs/base/application/fulcio/base/kustomization.yaml
  konflux-configs/base/application/rekor-search/base/application.yaml
  konflux-configs/base/application/rekor-search/base/component.yaml
  konflux-configs/base/application/rekor-search/base/imagerepository.yaml
  konflux-configs/base/application/rekor-search/base/kustomization.yaml
  konflux-configs/base/application/rekor/base/application.yaml
  konflux-configs/base/application/rekor/base/component.yaml
  konflux-configs/base/application/rekor/base/imagerepository.yaml
  konflux-configs/base/application/rekor/base/kustomization.yaml
  konflux-configs/base/application/segment-backup-job/base/application.yaml
  konflux-configs/base/application/segment-backup-job/base/component.yaml
  konflux-configs/base/application/segment-backup-job/base/imagerepository.yaml
  konflux-configs/base/application/segment-backup-job/base/kustomization.yaml
  konflux-configs/base/application/timestamp-authority/base/application.yaml
  konflux-configs/base/application/timestamp-authority/base/component.yaml
  konflux-configs/base/application/timestamp-authority/base/imagerepository.yaml
  konflux-configs/base/application/timestamp-authority/base/kustomization.yaml
  konflux-configs/base/application/trillian/base/application.yaml
  konflux-configs/base/application/trillian/base/component.yaml
  konflux-configs/base/application/trillian/base/imagerepository.yaml
  konflux-configs/base/application/trillian/base/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
  konflux-configs/base/stream/rhtas/base/rekor-monitor-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Remvoing Base Tas-Components Application
  konflux-configs/base/application/tas-components/base/application.yaml
  konflux-configs/base/application/tas-components/base/component.yaml
  konflux-configs/base/application/tas-components/base/imagerepository.yaml
  konflux-configs/base/application/tas-components/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adjusting case of application name
  konflux-configs/base/application/TAS-Components/application.yaml
  konflux-configs/base/application/TAS-Components/component.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Initial Configuration for Templating of TAS Components
  konflux-configs/base/project/overlay/TAS-Components/kustomization.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/certificate-transparency-go.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/fulcio-server.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/rekor-monitor.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/rekor-search.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/rekor-server.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/segment-backup.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/timestamp-authority.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/trillian-createtree.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/trillian-database.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/trillian-logserver.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/trillian-logsigner.yaml
  konflux-configs/base/project/overlay/TAS-Components/patch/trillian-redis.yaml
  konflux-configs/base/project/overlay/TAS-Components/project.yaml
  konflux-configs/base/project/overlay/TAS-Components/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Missing Rekor-Monitor from Components
  konflux-configs/base/application/tas-components/base/component.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing Irrelevant Components
  konflux-configs/base/application/TAS-Components/component.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing reference to rekor-monitor from streams
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating Config to support new TAS Layouts
  konflux-configs/base/application/TAS-Components/imagerepository.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/tas-components/base/application.yaml
  konflux-configs/base/application/tas-components/base/component.yaml
  konflux-configs/base/application/tas-components/base/imagerepository.yaml
  konflux-configs/base/application/tas-components/base/kustomization.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/patch/certificate-transparency-go.yaml
  konflux-configs/base/project/overlay/tas-components/patch/fulcio-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-monitor.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-search.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/segment-backup.yaml
  konflux-configs/base/project/overlay/tas-components/patch/timestamp-authority.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-createtree.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-database.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logserver.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logsigner.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-redis.yaml
  konflux-configs/base/project/overlay/tas-components/project.yaml
  konflux-configs/base/project/overlay/tas-components/template.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/tas-components.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Changes to accomodate Project Development Streams
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/patch/certificate-transparency-go.yaml
  konflux-configs/base/project/overlay/tas-components/patch/fulcio-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-monitor.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-search.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/segment-backup.yaml
  konflux-configs/base/project/overlay/tas-components/patch/timestamp-authority.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-createtree.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-database.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logserver.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logsigner.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-redis.yaml
  konflux-configs/base/stream/overlay/main/kustomization.yaml
  konflux-configs/base/stream/overlay/main/tas-components-stream.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-2/tas-components-stream.yaml
  konflux-configs/base/stream/overlay/v1-3/tas-components-stream.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/tas-components-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: remove desc from pco e2e
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: none

Adding TAS Components
  konflux-configs/base/application/TAS-Components/application.yaml
  konflux-configs/base/application/TAS-Components/component.yaml
  konflux-configs/base/application/TAS-Components/imagerepository.yaml
  konflux-configs/base/application/TAS-Components/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Initial Tas-tools entry
  konflux-configs/base/project/overlay/tas-tools/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/update-tree.yaml
  konflux-configs/base/project/overlay/tas-tools/project.yaml
  konflux-configs/base/project/overlay/tas-tools/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Tas tools streams entry
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/tas-tools-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Renaming tas-tools Patch folder
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing CLI Tool Application entry
  konflux-configs/base/application/cli/base/application.yaml
  konflux-configs/base/application/cli/base/component.yaml
  konflux-configs/base/application/cli/base/imagerepository.yaml
  konflux-configs/base/application/cli/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing CLI References
  konflux-configs/base/application/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Tas Tools Finalising Templates
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/stream/overlay/main/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

bump go image
  tasks/go-unit-test.yaml
Due: docker-build-on-push

change hash
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

bump go image
  pipelines/docker-build-oci-ta.yaml
  tasks/go-unit-test-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

bump git commit
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

chore: bump base image
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Removing base/stream/overlay
  konflux-configs/base/stream/overlay/main/kustomization.yaml
  konflux-configs/base/stream/overlay/main/tas-components-stream.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-2/tas-components-stream.yaml
  konflux-configs/base/stream/overlay/v1-3/tas-components-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: clone test suite from release branch
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  pipelines/integration-test/rhtas-e2e-fbc.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/derive-release-info.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/parse-metadata.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Tas Tools Finalising Templates
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
