Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

fix: remove hardcoded UID/GID from ceremony jobs for SCC compatibility
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
Due: none

fix: add debug output on failure for all PKCS#11 pipeline stages
  stepactions/integration-test/install-tas-pkcs11.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: add tufcli-init-rhel9 to imageContentSources mirrors
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: use separate workdir to avoid race with parallel file-mode test
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: use explicit cd instead of workingDir for copy-on-first-use
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

chore: revert prefetch bump
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Added secret for push to quay
  pipelines/integration-test/operator-upgrade.yaml
Due: none

Added secret for push to quay (#603)
  pipelines/integration-test/operator-upgrade.yaml
Due: none

Add quay.io credentials to operator upgrade test
  pipelines/integration-test/operator-upgrade.yaml
Due: none

feat: add PKCS#11 E2E test pipeline running parallel to file-mode tests
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
  stepactions/integration-test/install-tas-pkcs11.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: revert branches to main
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: increase PKCS#11 stack readiness timeout to 15m
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-tas-pkcs11.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/kustomize-diff.yaml
Due: none

fix: fix pco upgrade scenario
  pipelines/integration-test/pco-operator-upgrade.yaml
Due: none

fix: bump up task-prefetch-dependencies-oci-ta:0.10.3
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Task roxctl-scan updated
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Task roxctl-scan updated (#617)
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Migrate integration pipelines from EaaS to OpenShift CI
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/install-operator-from-bundle.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
  tasks/integration-test/install-operator-from-fbc.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/prepare-tests.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: add tufcli to pipelines
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Pointing all tasks and pipelines at this branch for testing
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/prepare-tests.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: add 1.4 repos
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

add debug info
  tasks/integration-test/install-operator-from-bundle.yaml
Due: none

Marking all e2e as optional to unclog 1.3.8 release
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: catch invalid or stale FBC catalogs before build
  pipelines/fbc-builder.yaml
  tasks/validate-fbc-graph-sync.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

Fixes after qodo review
  pipelines/fbc-builder.yaml
  tasks/validate-fbc-graph-sync.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

Change image for task
  tasks/validate-fbc-graph-sync.yaml
Due: none

fix: use openshift4/ose-cli-rhel9 image
  stepactions/integration-test/install-keycloak.yaml
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
  stepactions/integration-test/install-tas-pkcs11.yaml
  stepactions/integration-test/install-tas.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
  tasks/integration-test/install-operator-from-fbc.yaml
  tasks/integration-test/install-operator-from-image.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

test: disable FBC build and push for validator runs
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

test: make FBC validator branch workspace-only
  pipelines/fbc-builder.yaml
  tasks/validate-fbc-graph-sync.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

fix: discover FBC repo root in graph sync validator
  tasks/validate-fbc-graph-sync.yaml
Due: none

fix: provide container policy for graph sync render
  tasks/validate-fbc-graph-sync.yaml
Due: none

fix: make graph sync validation registry-free
  tasks/validate-fbc-graph-sync.yaml
Due: none

fix: use native opm conversion for graph sync check
  tasks/validate-fbc-graph-sync.yaml
Due: none

Improve messages
  tasks/validate-fbc-graph-sync.yaml
Due: none

Revert testing settings
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/fbc-builder.yaml
  tasks/validate-fbc-graph-sync.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: fix securesign-e2e
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: use bigger node
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: use bigger nodes
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none
