Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

fix: set mem limit
  tasks/integration-test/derive-release-info.yaml
Due: none

ci: refactor PCO E2E for streams
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  tasks/integration-test/parse-metadata.yaml
Due: none

fix: olm v1 test
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
Due: none

chore: disable OLM v1 tests - TP features are disabled on IAS clusters
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/v4.21/patch.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fbc: onboard pco-fbc to streams
  konflux-configs/base/project/base/ocp/pco/kustomization.yaml
  konflux-configs/base/project/base/ocp/pco/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.16/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/kustomization.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/pco-fbc/kustomization.yaml
  konflux-configs/base/project/overlay/pco-fbc/project.yaml
  konflux-configs/base/project/overlay/pco-fbc/template.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-16.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-17.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-18.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-19.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-20.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-21.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/kustomization.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-16-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-17-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-18-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-19-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-20-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-21-tech-preview.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: deprecate legacy keycloak sso, target platforms only now
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-keycloak.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: fix pco e2e
  konflux-configs/base/project/base/ocp/pco/patch.yaml
  konflux-configs/base/project/overlay/pco-fbc/template.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-16.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-17.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-18.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-19.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-20.yaml
  konflux-configs/base/stream/policy-controller/overlay/main/fbc/pco-fbc-v4-21.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-16-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-17-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-18-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-19-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-20-tech-preview.yaml
  konflux-configs/base/stream/policy-controller/overlay/tech-preview/fbc/pco-fbc-v4-21-tech-preview.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: deprecate legacy keycloak sso, target platforms only now
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-keycloak.yaml
  tasks/integration-test/operator-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: add cluster_platform param to pco e2e
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: none

fix: fix-for-fbc-builds-KONFLUX-12211
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-pull-request, fbc-builder-on-push

fix: fix it resource kind
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

task: update derive-product-version task
  tasks/derive-product-version.yaml
Due: none

build: update pipelines to use new param
  .tekton/docker-build-oci-ta-pull-request.yaml
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: disable e2e tests for OCP 4.21
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add branch-sync-check integration test for FBC projects
  konflux-configs/base/project/base/branch-sync/kustomization.yaml
  konflux-configs/base/project/base/branch-sync/patch.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
  pipelines/branch-sync-check.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: remove unused fbc-stage app
  konflux-configs/base/stream/rhtas/overlay/fbc/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/fbc/stage-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

e2e: add pco upgrade pipeline
  pipelines/integration-test/pco-operator-upgrade.yaml
Due: none

fix: change script dir
  stepactions/integration-test/install-keycloak.yaml
Due: none

Removing Model-Validation and Model Transparency
  konflux-configs/base/application/model-transparency/base/application.yaml
  konflux-configs/base/application/model-transparency/base/component.yaml
  konflux-configs/base/application/model-transparency/base/imagerepository.yaml
  konflux-configs/base/application/model-transparency/base/kustomization.yaml
  konflux-configs/base/application/model-transparency/base/patch/releaseplan.yaml
  konflux-configs/base/application/model-validation-operator/base/application.yaml
  konflux-configs/base/application/model-validation-operator/base/component.yaml
  konflux-configs/base/application/model-validation-operator/base/ec-group.yaml
  konflux-configs/base/application/model-validation-operator/base/imagerepository.yaml
  konflux-configs/base/application/model-validation-operator/base/kustomization.yaml
  konflux-configs/base/application/model-validation-operator/base/monorepo.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/ec.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/releaseplan.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Model Validation and Transparency Stream support
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency/patch/model-transparency.yaml
  konflux-configs/base/project/overlay/model-transparency/project.yaml
  konflux-configs/base/project/overlay/model-transparency/template.yaml
  konflux-configs/base/project/overlay/model-validation-operator/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/manager.yaml
  konflux-configs/base/project/overlay/model-validation-operator/project.yaml
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
  konflux-configs/base/stream/kustomization.yaml
  konflux-configs/base/stream/model-validation/base/kustomization.yaml
  konflux-configs/base/stream/model-validation/base/model-transparency.yaml
  konflux-configs/base/stream/model-validation/base/model-validation-operator.yaml
  konflux-configs/base/stream/model-validation/overlay/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/main/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/main/kustomizeconfig.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/kustomization.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/kustomizeconfig.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/patch/mintmaker.yaml
  konflux-configs/base/stream/model-validation/overlay/tech-preview/patch/stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: add upgrade test to pco fbc
  konflux-configs/base/project/base/ocp/pco/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: bump go version
  pipelines/integration-test/pco-operator-upgrade.yaml
Due: none

fix: rever init task
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: increase pco upgrade resource limits
  pipelines/integration-test/pco-operator-upgrade.yaml
Due: none

Adding missing configs for MVO
  konflux-configs/base/project/overlay/model-validation-operator/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/imagerepository.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating Config Templates
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: fix false positives in e2e
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  stepactions/integration-test/process-go-test-results.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: add missing imageContentSource
  pipelines/integration-test/rhtas-fbc-e2e.yaml
Due: none

fix: add ctlog-monitor to kac
  konflux-configs/base/project/overlay/rekor-monitor/patch/rekor-monitor.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Updating unit test go image to 1.25.7
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

chore: swap to rhtas app
  tasks/push-to-github.yaml
Due: none

chore: update docker push task images
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Updating test-metadata
  pipelines/integration-test/rhtas-fbc-e2e.yaml
Due: none

Upgrading parse meta-data task across FBC used Integration tests
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
Due: none

Adding Check to fips tests or other TAS Versions
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding 4.21
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Marking Fips e2e as optional
  konflux-configs/base/project/base/ocp/rhtas/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/rhtas/v4.21/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: stabilize ansible-test suite
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  konflux-configs/base/project/overlay/ansible/template.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/ansible.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/ansible.yaml
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/ansible/build-test-cache.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: fix branch-sync
  konflux-configs/base/project/base/branch-sync/patch.yaml
  pipelines/branch-sync-check.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

onboard model-transparency-cli to z-stream
  konflux-configs/base/application/model-transparency-go/base/application.yaml
  konflux-configs/base/application/model-transparency-go/base/component.yaml
  konflux-configs/base/application/model-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/model-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/model-transparency-go/base/patch/releaseplan.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency-cli/kustomization.yaml
  konflux-configs/base/project/overlay/model-transparency-cli/patch/model-transparency-cli.yaml
  konflux-configs/base/project/overlay/model-transparency-cli/project.yaml
  konflux-configs/base/project/overlay/model-transparency-cli/template.yaml
  konflux-configs/base/stream/model-validation/base/kustomization.yaml
  konflux-configs/base/stream/model-validation/base/model-transparency-cli.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
