Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

fbc-builder-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/fbc-builder:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

test v0.2
  pipelines/rhtas-operator-e2e.yaml
Due: none

fix
  pipelines/rhtas-operator-e2e.yaml
Due: none

fix: install jq
  pipelines/rhtas-operator-e2e.yaml
Due: none

fix: add deployment manifest
  pipelines/rhtas-operator-e2e.yaml
Due: none

fix: adding ginkgo tests
  pipelines/rhtas-operator-e2e.yaml
Due: none

fix: +e
  pipelines/rhtas-operator-e2e.yaml
Due: none

ci: add integration tag
  pipelines/rhtas-operator-e2e.yaml
Due: none

ci: fix jq query
  pipelines/rhtas-operator-e2e.yaml
Due: none

test
  pipelines/rhtas-operator-e2e.yaml
Due: none

Adding labid
  pipelines/rhtas-operator-e2e.yaml
Due: none

Closing quotation
  pipelines/rhtas-operator-e2e.yaml
Due: none

feat: add Konflux configuration as code
  .tekton/configuration-as-code-pull-request.yaml
  .tekton/configuration-as-code-push.yaml
  konflux-configs/Dockerfile
  konflux-configs/README.md
  konflux-configs/base/application/konflux/base/application.yaml
  konflux-configs/base/application/konflux/base/component.yaml
  konflux-configs/base/application/konflux/base/ec.yaml
  konflux-configs/base/application/konflux/base/imagerepository.yaml
  konflux-configs/base/application/konflux/base/integrationtest.yaml
  konflux-configs/base/application/konflux/base/kustomization.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/pipelines/base/application.yaml
  konflux-configs/base/application/pipelines/base/component.yaml
  konflux-configs/base/application/pipelines/base/ec.yaml
  konflux-configs/base/application/pipelines/base/imagerepository.yaml
  konflux-configs/base/application/pipelines/base/kustomization.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/kustomization.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/rbac.yaml
  konflux-configs/base/release-plan/konflux-manifests/base/releaseplan.yaml
  konflux-configs/base/release-plan/kustomization.yaml
  konflux-configs/base/service-account/kustomization.yaml
  konflux-configs/base/service-account/promote-to-candidate-sa.yaml
  konflux-configs/base/service-account/release-sa.yaml
  konflux-configs/overlay/dev/kustomization.yaml
  konflux-configs/overlay/prod/kustomization.yaml
  pipelines/konflux/deploy-config.yaml
  pipelines/konflux/integration-test.yaml
  tasks/extract-and-apply-manifests.yaml
Due: configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Test Pipeline
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Updating params
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Updating runsafter
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Updating buildah tasks
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Updating buildah task matrix
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Adding Path Context
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Disabling Hermetic
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Fixing running order
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Adding Sealight instrumentation to prefetch
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Reordering tasks
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Fixing task reference in prefetch task
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Path conditions:
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
