Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

feat: add rhtas-console application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/rhtas-console/base/application.yaml
  konflux-configs/base/application/rhtas-console/base/component.yaml
  konflux-configs/base/application/rhtas-console/base/imagerepository.yaml
  konflux-configs/base/application/rhtas-console/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add policy-controller applications
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/application.yaml
  konflux-configs/base/application/policy-controller-operator/base/component.yaml
  konflux-configs/base/application/policy-controller-operator/base/e2e.yaml
  konflux-configs/base/application/policy-controller-operator/base/ec-group.yaml
  konflux-configs/base/application/policy-controller-operator/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller-operator/base/kustomization.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/ec.yaml
  konflux-configs/base/application/policy-controller-operator/base/patch/releaseplan.yaml
  konflux-configs/base/application/policy-controller/base/application.yaml
  konflux-configs/base/application/policy-controller/base/component.yaml
  konflux-configs/base/application/policy-controller/base/imagerepository.yaml
  konflux-configs/base/application/policy-controller/base/kustomization.yaml
  konflux-configs/base/application/policy-controller/base/patch/releaseplan.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/policy-controller/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/base/releaseplan.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/policy-controller-operator/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/policy-controller-operator/overlays/policy-controller-operator/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore(dep): update docker-build-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

feat: add tough application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/tough/base/application.yaml
  konflux-configs/base/application/tough/base/component.yaml
  konflux-configs/base/application/tough/base/imagerepository.yaml
  konflux-configs/base/application/tough/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/tough/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/tough/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add cli application
  konflux-configs/base/application/cli/base/application.yaml
  konflux-configs/base/application/cli/base/component.yaml
  konflux-configs/base/application/cli/base/imagerepository.yaml
  konflux-configs/base/application/cli/base/kustomization.yaml
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/cli/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/cli/patch.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add segment-backup-job application
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/segment-backup-job/base/application.yaml
  konflux-configs/base/application/segment-backup-job/base/component.yaml
  konflux-configs/base/application/segment-backup-job/base/imagerepository.yaml
  konflux-configs/base/application/segment-backup-job/base/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/segment-backup-job/kustomization.yaml
  konflux-configs/base/release-plan/promote-to-candidate/components/overlays/segment-backup-job/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add model-validation-operator applications
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/model-validation-operator/base/application.yaml
  konflux-configs/base/application/model-validation-operator/base/component.yaml
  konflux-configs/base/application/model-validation-operator/base/e2e.yaml
  konflux-configs/base/application/model-validation-operator/base/ec-group.yaml
  konflux-configs/base/application/model-validation-operator/base/imagerepository.yaml
  konflux-configs/base/application/model-validation-operator/base/kustomization.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/ec.yaml
  konflux-configs/base/application/model-validation-operator/base/patch/releaseplan.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: e2e branch fix for mvo app
  konflux-configs/base/application/model-validation-operator/base/application.yaml
  konflux-configs/base/application/model-validation-operator/base/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: add mvo project
  konflux-configs/base/project/overlay/model-validation-operator/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/ec.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/manager.yaml
  konflux-configs/base/project/overlay/model-validation-operator/project.yaml
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: change to pipeline from run
  konflux-configs/base/application/model-validation-operator/base/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

f3
  tasks/fips-check.yaml
Due: none

f4
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

ci@ change to pipelinerun
  konflux-configs/base/application/model-validation-operator/base/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: fix operator pipeline for mvo
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/manager.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: remove unwanted
  konflux-configs/base/project/overlay/model-validation-operator/kustomization.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/e2e.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/ec.yaml
  konflux-configs/base/project/overlay/model-validation-operator/patch/manager.yaml
  konflux-configs/base/project/overlay/model-validation-operator/project.yaml
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: Implement ansible IntegrationTest pipeline
  pipelines/integration-test/ansible.yaml
  stepactions/integration-test/molecule.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/build-ansible-dependency-cache.yaml
Due: none

Update rhtas-operator-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

ci: update contexts for e2e
  konflux-configs/base/application/model-validation-operator/base/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

task: add fips-check-task
  tasks/fips-check.yaml
Due: none

pipeline: update pipelines with new fips-check task
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

ci: test fix for konflux e2e trigger
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: test e2e script
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: add permissios for e2e
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

fix(ci): increase dast task timeout
  pipelines/integration-test/operator-dast.yaml
Due: none

ci: add e2e testing phase
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: e2e test script added
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: remove explicit default of kubeconfig
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: move sig to relevant path
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

ci: daemonset check
  pipelines/integration-test/model-validation-operator-e2e.yaml
Due: none

feat: Implement ansible IntegrationTest pipeline
  konflux-configs/base/project/overlay/ansible/kustomization.yaml
  konflux-configs/base/project/overlay/ansible/patch/e2e.yaml
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/ansible/build-test-cache.yaml
  tasks/integration-test/ansible/run-molecule-tests.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: Fix task execution order
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

chore: Replace placeholders
  pipelines/integration-test/ansible.yaml
Due: none

fix: interpretation of mintmaker.appstudio.redhat.com/disabled value
  konflux-configs/base/project/overlay/ansible/patch/collection.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/manager.yaml
  konflux-configs/overlay/dev/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: disable mintmaker for release-1.2 branches
  konflux-configs/base/project/overlay/ansible/patch/collection.yaml
  konflux-configs/base/project/overlay/ansible/template.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/bundle.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/manager.yaml
  konflux-configs/base/project/overlay/rhtas-operator/template.yaml
  konflux-configs/base/stream/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/overlay/v1-2/patch/mintmaker.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: Implement upgrade pipeline
  pipelines/integration-test/operator-upgrade.yaml
Due: none

testing: add unit test task
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

feat: add rhtas-fbc project
  konflux-configs/base/project/base/ec/kustomization.yaml
  konflux-configs/base/project/base/ec/patch/fbc-standard.yaml
  konflux-configs/base/project/base/ec/patch/registry-rhtas-operator.yaml
  konflux-configs/base/project/base/ec/patch/registry-rhtas.yaml
  konflux-configs/base/project/base/ocp/v4.16/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/v4.17/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/v4.18/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/v4.19/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/v4.20/kustomization.yaml
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/ansible/template.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/kustomization.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/project.yaml
  konflux-configs/base/project/overlay/rhtas-fbc/template.yaml
  konflux-configs/base/project/overlay/rhtas-operator/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/ansible-stream.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rhtas-operator-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/fbc/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/fbc/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/fbc/release-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/fbc/stage-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/main/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/main/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/mintmaker.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/stream.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/patch/stream.yaml
  konflux-configs/overlay/dev/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Add support for rekor-monitor as a code to support 1.3 release
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/application/rekor-monitor/base/application.yaml
  konflux-configs/base/application/rekor-monitor/base/component.yaml
  konflux-configs/base/application/rekor-monitor/base/imagerepository.yaml
  konflux-configs/base/application/rekor-monitor/base/kustomization.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Add stream configuration
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rekor-monitor-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-rekor-monitor.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
