Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

configuration-as-code-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/configuration-as-code:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

configuration-as-code-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tturek-tenant/configuration-as-code:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: konflux-configs
  ...

deploy-konflux-config-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: kustomize-path
    value: konflux-configs/overlay/prod
  - name: apply-changes
    value: 'false'
  pipelineRef:
    name: deploy-konflux-config
  taskRunTemplate:
  ...

docker-build-multi-platform-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

docker-build-multi-platform-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-multi-platform-oci-ta:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

docker-build-oci-ta-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  ...

docker-build-oci-ta-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build-oci-ta:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: 'true'
  ...

docker-build-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/docker-build:{{revision}}
  - name: dockerfile
    value: pipeline-tests/Dockerfile
  - name: build-source-image
    value: true
  ...

Initial Tas-tools entry
  konflux-configs/base/project/overlay/tas-tools/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patches/update-tree.yaml
  konflux-configs/base/project/overlay/tas-tools/project.yaml
  konflux-configs/base/project/overlay/tas-tools/template.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing CLI References
  konflux-configs/base/application/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Relese process dependency repaired
  pipelines/release.yaml
Due: release-on-pull-request

Deleting Old Configurations
  konflux-configs/base/application/certificate-transparency-go/base/application.yaml
  konflux-configs/base/application/certificate-transparency-go/base/component.yaml
  konflux-configs/base/application/certificate-transparency-go/base/imagerepository.yaml
  konflux-configs/base/application/certificate-transparency-go/base/kustomization.yaml
  konflux-configs/base/application/fulcio/base/application.yaml
  konflux-configs/base/application/fulcio/base/component.yaml
  konflux-configs/base/application/fulcio/base/imagerepository.yaml
  konflux-configs/base/application/fulcio/base/kustomization.yaml
  konflux-configs/base/application/rekor-search/base/application.yaml
  konflux-configs/base/application/rekor-search/base/component.yaml
  konflux-configs/base/application/rekor-search/base/imagerepository.yaml
  konflux-configs/base/application/rekor-search/base/kustomization.yaml
  konflux-configs/base/application/rekor/base/application.yaml
  konflux-configs/base/application/rekor/base/component.yaml
  konflux-configs/base/application/rekor/base/imagerepository.yaml
  konflux-configs/base/application/rekor/base/kustomization.yaml
  konflux-configs/base/application/segment-backup-job/base/application.yaml
  konflux-configs/base/application/segment-backup-job/base/component.yaml
  konflux-configs/base/application/segment-backup-job/base/imagerepository.yaml
  konflux-configs/base/application/segment-backup-job/base/kustomization.yaml
  konflux-configs/base/application/timestamp-authority/base/application.yaml
  konflux-configs/base/application/timestamp-authority/base/component.yaml
  konflux-configs/base/application/timestamp-authority/base/imagerepository.yaml
  konflux-configs/base/application/timestamp-authority/base/kustomization.yaml
  konflux-configs/base/application/trillian/base/application.yaml
  konflux-configs/base/application/trillian/base/component.yaml
  konflux-configs/base/application/trillian/base/imagerepository.yaml
  konflux-configs/base/application/trillian/base/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
  konflux-configs/base/stream/rhtas/base/rekor-monitor-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing Old References
  konflux-configs/base/application/kustomization.yaml
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ci: add fips e2e to operator and FBC's
  konflux-configs/base/project/base/ocp/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

e2e: add-fips-enabled-e2e
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-keycloak.yaml
  stepactions/integration-test/install-tas.yaml
Due: none

Remove rekor montior exclusion
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Missing image repositories to Tas Tools
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Fix: Addressing Rogue Bracket
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: ImageRepository labels for tas-tools applications
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: add update-component-image annotation on tas-tools resources
  konflux-configs/base/project/overlay/tas-tools/patch/cosign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/fetch-tsa.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/gitsign.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/rekor-cli.yaml
  konflux-configs/base/project/overlay/tas-tools/patch/update-tree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: update labels to use the correct time format
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

feat: override the revision with a templated version
  konflux-configs/base/project/base/release-plan/patch/component.yaml
  konflux-configs/base/project/base/release-plan/patch/operator.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: promote-to-candidate with versioned revision
  konflux-configs/base/project/overlay/rhtas-operator/kustomization.yaml
  konflux-configs/base/project/overlay/tas-tools/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rhtas-operator-stream.yaml
  konflux-configs/base/stream/rhtas/base/tas-tools-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/main/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomizeconfig.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-3/kustomizeconfig.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: add OIDC_ISSUER_URL param to install-tas step
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: none

feat: Add support for rekor-monitor and segment-backup-job
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/kustomization.yaml
  konflux-configs/base/project/overlay/rekor-monitor/patch/rekor-monitor.yaml
  konflux-configs/base/project/overlay/rekor-monitor/project.yaml
  konflux-configs/base/project/overlay/rekor-monitor/template.yaml
  konflux-configs/base/project/overlay/segment-backup-job/kustomization.yaml
  konflux-configs/base/project/overlay/segment-backup-job/patch/segment-backup-job.yaml
  konflux-configs/base/project/overlay/segment-backup-job/project.yaml
  konflux-configs/base/project/overlay/segment-backup-job/template.yaml
  konflux-configs/base/project/overlay/tas-tools/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/rekor-monitor-stream.yaml
  konflux-configs/base/stream/rhtas/base/segment-backup-job-stream.yaml
  konflux-configs/base/stream/rhtas/overlay/main/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/main/patch/exclude-segment-backup-job.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding TAS Components
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/patch/certificate-transparency-go.yaml
  konflux-configs/base/project/overlay/tas-components/patch/fulcio-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-search.yaml
  konflux-configs/base/project/overlay/tas-components/patch/rekor-server.yaml
  konflux-configs/base/project/overlay/tas-components/patch/timestamp-authority.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-createtree.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-database.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logserver.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logsigner.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-redis.yaml
  konflux-configs/base/project/overlay/tas-components/project.yaml
  konflux-configs/base/project/overlay/tas-components/template.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
  konflux-configs/base/stream/rhtas/base/tas-components-stream.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Backfill Redis
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/patch/backfill-redis.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Correcting Name for Component
  konflux-configs/base/project/overlay/tas-components/patch/backfill-redis.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing CreateTree
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
  konflux-configs/base/project/overlay/tas-components/patch/trillian-createtree.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Renaming Trillian Redis to Redis
  konflux-configs/base/project/overlay/tas-components/patch/redis.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Fixing trillain redis reference to just redis
  konflux-configs/base/project/overlay/tas-components/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: clone from releaseBranch if possible, derivate release info from FBC otherwise
  konflux-configs/base/project/base/ocp/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/v4.20/patch.yaml
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-tas.yaml
  tasks/integration-test/derive-release-info.yaml
  tasks/integration-test/install-operator-from-fbc-olm-v1.yaml
  tasks/integration-test/install-operator-from-fbc.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/parse-metadata.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

add ctlog-monitor to imageContentSources
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Trailing space removed for consistency
  konflux-configs/base/project/overlay/tas-components/patch/trillian-logsigner.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Fixed entry for client server
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding Client Server and Create Tree
  konflux-configs/base/project/kustomization.yaml
  konflux-configs/base/project/overlay/client-server/kustomization.yaml
  konflux-configs/base/project/overlay/client-server/patch/client-server.yaml
  konflux-configs/base/project/overlay/client-server/project.yaml
  konflux-configs/base/project/overlay/client-server/template.yaml
  konflux-configs/base/project/overlay/create-tree/kustomization.yaml
  konflux-configs/base/project/overlay/create-tree/patch/create-tree.yaml
  konflux-configs/base/project/overlay/create-tree/project.yaml
  konflux-configs/base/project/overlay/create-tree/template.yaml
  konflux-configs/base/stream/rhtas/base/client-server-stream.yaml
  konflux-configs/base/stream/rhtas/base/create-tree-stream.yaml
  konflux-configs/base/stream/rhtas/base/kustomization.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

ansible: add postgresql test
  pipelines/integration-test/ansible.yaml
Due: none

fix: fix e2e release-branch
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: fix memory space
  tasks/integration-test/derive-release-info.yaml
Due: none

Removing Reference to tough exclusion
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-tough.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: disable fips test on 1.2 and 1.3 streams
  konflux-configs/base/project/overlay/rhtas-operator/patch/e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Removing Reference to tough exclusion (#366)
  konflux-configs/base/stream/rhtas/overlay/v1-2/kustomization.yaml
  konflux-configs/base/stream/rhtas/overlay/v1-2/patch/exclude-tough.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Test Fix
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Second attempt
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Attempting tweak
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)
