Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push, release-on-pull-request

Path conditions:
  configuration-as-code-on-pull-request: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-pull-request.yaml)
  configuration-as-code-on-push: (any of: konflux-configs/***) or (any of: .tekton/configuration-as-code-push.yaml)
  deploy-konflux-config-on-pull-request: (((any of: konflux-configs/***) or (any of: .tekton/deploy-konflux-config-pull-request.yaml)) or (any of: pipelines/deploy-konflux-config.yaml)) or (any of: tasks/apply-manifest.yaml)
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-pull-request: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-pull-request.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

Pipeline tests
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

fix: fix EC
  .tekton/docker-build-pull-request.yaml
  .tekton/docker-build-push.yaml
  konflux-configs/base/application/pipelines/base/ec.yaml
  pipeline-tests/fbc/catalog.Dockerfile
  pipeline-tests/fbc/catalog/operator/catalog.json
  pipeline-tests/fbc/catalog/rhtas-operator/catalog.json
  pipeline-tests/fbc/devfile.yaml
  pipeline-tests/fbc/graph.yaml
  pipelines/docker-build.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Test
  tasks/get-version-from-configmap.yaml
Due: none

SECURESIGN-4640 Add rhtas-versions.properties file
  konflux-configs/README.md
  konflux-configs/base/config/kustomization.yaml
  konflux-configs/base/config/rhtas-versions.properties
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request, docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Change refs for PR pipelines testing
  .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml
  .tekton/docker-build-oci-ta-pull-request.yaml
  .tekton/docker-build-pull-request.yaml
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Fix pipeline bug Updates
  konflux-configs/base/config/rhtas-versions.properties
  konflux-configs/base/project/base/ec/kustomization.yaml
  konflux-configs/base/project/base/ec/patch/registry-rhtas-operator-group-only.yaml
  konflux-configs/base/project/overlay/model-validation-operator/template.yaml
  tasks/get-version-from-configmap.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Fix qodo
  tasks/get-version-from-configmap.yaml
Due: none

Switch to test branch instead of main for testing
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

Updating version fetch
  tasks/get-version-from-configmap.yaml
Due: none

replace inline prepare-tests taskSpec with external taskRef
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

Update tasks/get-version-from-configmap.yaml
  tasks/get-version-from-configmap.yaml
Due: none

Back to main
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-pull-request, fbc-builder-on-push

replace inline prepare-molecule-tests and aws-cleanup taskSpecs with external taskRefs
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
  tasks/integration-test/aws-cleanup-ec2-instances.yaml
  tasks/integration-test/prepare-molecule-tests.yaml
Due: none

changed ref to test branch
  pipelines/integration-test/ansible-upgrade.yaml
  pipelines/integration-test/ansible.yaml
  pipelines/integration-test/operator-dast.yaml
  pipelines/integration-test/operator-upgrade.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  pipelines/integration-test/rhtas-fbc-e2e.yaml
  pipelines/integration-test/rhtas-operator-e2e.yaml
Due: none

fix: skip rekorsearchui e2e tests when UI is not deployed
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: add build-nudges-ref for console components
  konflux-configs/base/project/overlay/rhtas-console/patch/rhtas-console.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Adding e2e quay creds pull
  pipelines/integration-test/policy-controller-operator-e2e.yaml
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/operator-e2e.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: correct console component source fields
  konflux-configs/base/project/overlay/rhtas-console/patch/rhtas-console.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

Wrong name for e2e-tests repo
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
Due: none

Missed file for spelling mistake
  tasks/integration-test/sigstore-e2e.yaml
Due: none

The Final Final Fix
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix(e2e): Providing unique images for tests
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

Fix: Adding Expiration to test images#
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

Fix: Adding proper failure logic
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

Fix: adding vfs to buildah to make custom Image
  tasks/integration-test/ansible/run-sigstore-e2e-tests.yaml
  tasks/integration-test/sigstore-e2e.yaml
Due: none

fix: adding PCO e2e tests quay creds
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
Due: none

chore: change pco upgrade path
  konflux-configs/base/project/base/ocp/pco/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.21/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.22/patch.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

chore: pull from correct branch for e2e
  konflux-configs/base/project/base/ocp/pco/v4.16/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.17/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.18/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.19/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.20/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.21/patch.yaml
  konflux-configs/base/project/base/ocp/pco/v4.22/patch.yaml
  konflux-configs/base/project/overlay/pco-fbc/template.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

fix: avoid referencing skipped install-tas step results in prepare-tests
  tasks/integration-test/prepare-tests.yaml
Due: none

use v1 API samples
  stepactions/integration-test/install-tas.yaml
Due: none

fix: Make pipeline working for patch releases
  stepactions/integration-test/install-tas.yaml
Due: none

feat: support fips e2e for pco
  konflux-configs/base/project/base/ocp/pco/v4.19/patch.yaml
  konflux-configs/base/project/overlay/policy-controller-operator/patch/e2e.yaml
  pipelines/integration-test/pco-operator-upgrade.yaml
  pipelines/integration-test/policy-controller-fbc-e2e.yaml
  pipelines/integration-test/policy-controller-operator-e2e.yaml
Due: configuration-as-code-on-pull-request, configuration-as-code-on-push, deploy-konflux-config-on-pull-request

feat: add PKCS#11 E2E test pipeline running parallel to file-mode tests
  pipelines/integration-test/rhtas-operator-e2e.yaml
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
  stepactions/integration-test/install-tas-pkcs11.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: point only PKCS#11 step/task refs to testkpkcs11 branch
  pipelines/integration-test/rhtas-operator-e2e.yaml
  tasks/integration-test/sigstore-e2e-pkcs11.yaml
Due: none

fix: add debug output on key ceremony failure
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
Due: none

fix: use securesign/softhsm-init:1.0-test image
  stepactions/integration-test/install-pkcs11-prerequisites.yaml
  stepactions/integration-test/install-tas-pkcs11.yaml
Due: none
