Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-push, release-on-pull-request

Path conditions:
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

Adding 4-14 to rhtas e2e
  pipelines/rhtas-operator-e2e.yaml
Due: none

chore: bump to clamav-scan v0.3
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

chore: bump to clamav-scan v0.3 (#192)
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Increasing timeout
  pipelines/rhtas-operator-e2e.yaml
Due: none

ci: add pco rps
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/base/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/base/releaseplan.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-14/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-14/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-15/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-15/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-16/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-16/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-17/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-17/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-18/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-18/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-19/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-19/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/policy-controller-operator/base/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/policy-controller-operator/base/releaseplan.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/policy-controller-operator/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/policy-controller-operator/overlays/policy-controller-operator/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/policy-controller-operator/overlays/policy-controller-operator/patch.yaml
Due: none

Updating pipelines and tasks for release 1.2
  pipelines/rhtas-operator-e2e.yaml
  stepactions/git-clone.yaml
  tasks/parse-metadata.yaml
Due: none

e2e: paramatise install channel
  pipelines/policy-controller-operator-e2e.yaml
  tasks/install-operator-from-fbc.yaml
Due: none

Updating Go Images for pipelines
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/policy-controller-operator-e2e.yaml
  pipelines/rhtas-operator-e2e.yaml
  stepactions/git-clone.yaml
  tasks/go-unit-test-oci-ta.yaml
  tasks/go-unit-test.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Adding Universal Labels to build pipelines
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

FBC Pipeline Labels
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-push

ci: update deprecated image check digest
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-push

ci: update task-clair-scan sha
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

ci: update task-validate-fbc digest
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-push

Adding Maintainer label
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Add rekor-monitor to mirrors
  pipelines/rhtas-operator-e2e.yaml
Due: none

Creating Resources for new Components and Operators
  konflux-configs/releasePlans/promoteToCandidateRPs/components/overlays/model-transparency/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/components/overlays/model-transparency/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/components/overlays/rhtas-console/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/components/overlays/rhtas-console/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/model-validation-operator/base/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/model-validation-operator/base/releaseplan.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/model-validation-operator/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/model-validation-operator/overlays/model-validation-operator/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/model-validation-operator/overlays/model-validation-operator/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/base/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/base/releaseplan.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-14/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-14/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-15/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-15/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-16/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-16/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-17/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-17/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-18/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-18/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-19/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/mvo-fbc/overlays/mvo-fbc-v4-19/patch.yaml
Due: none

Correcting name in rhtas console nameSuffix
  konflux-configs/releasePlans/promoteToCandidateRPs/components/overlays/rhtas-console/kustomization.yaml
Due: none

fix: add registry creds
  konflux-configs/serviceAccounts/its-gate-sa.yaml
  konflux-configs/serviceAccounts/rhtas-installer.yaml
  pipelines/policy-controller-operator-e2e.yaml
Due: none

Adding Universal CPE label to container builds
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

ci: increase limits
  pipelines/policy-controller-operator-e2e.yaml
Due: none

ci: update main to commit
  pipelines/bundle-build-oci-ta.yaml
Due: none

Adding memory limits for e2e test
  pipelines/rhtas-operator-e2e.yaml
Due: none

Updated Pipeline Images
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Smaller initial memory requests
  pipelines/rhtas-operator-e2e.yaml
Due: none

Adding memory limits for e2e test (#225)
  pipelines/rhtas-operator-e2e.yaml
Due: none

ci: move-get-manager-image
  pipelines/bundle-build-oci-ta.yaml
Due: none

ci: build-get-manager-image-as-bundle
  pipelines/bundle-build-oci-ta.yaml
Due: none

f1
  pipelines/bundle-build-oci-ta.yaml
Due: none

f2
  pipelines/bundle-build-oci-ta.yaml
Due: none

f3
  pipelines/bundle-build-oci-ta.yaml
Due: none

f4
  pipelines/bundle-build-oci-ta.yaml
Due: none

f6
  pipelines/bundle-build-oci-ta.yaml
Due: none

Moving quotations for CPE label to the left
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Adding CPE name
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Adding labels to generate labels task
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push
