Repository securesign/pipelines: changes, and which Tekton pipelines are due for each by the changed paths.
All: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-push, release-on-pull-request

Path conditions:
  docker-build-multi-platform-oci-ta-on-pull-request: ((any of: .tekton/docker-build-multi-platform-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-multi-platform-oci-ta-on-push: ((any of: .tekton/docker-build-multi-platform-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-multi-platform-oci-ta.yaml)
  docker-build-oci-ta-on-pull-request: (((any of: .tekton/docker-build-oci-ta-pull-request.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-oci-ta-on-push: (((any of: .tekton/docker-build-oci-ta-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build-oci-ta.yaml)) or (any of: tasks/go-unit-test-oci-ta.yaml)
  docker-build-on-push: (((any of: .tekton/docker-build-push.yaml) or (any of: pipeline-tests)) or (any of: pipelines/docker-build.yaml)) or (any of: tasks/go-unit-test.yaml)
  fbc-builder-on-push: (((any of: pipeline-tests/fbc/***) or (any of: .tekton/fbc-builder-push.yaml)) or (any of: pipeline-tests/fbc/catalog.Dockerfile)) or (any of: pipelines/fbc-builder.yaml)
  release-on-pull-request: (((((((any of: .tekton/release-pull-request.yaml) or (any of: pipeline-tests/sample-release/***)) or (any of: pipelines/release.yaml)) or (any of: tasks/monitor-release.yaml)) or (any of: tasks/oc-apply.yaml)) or (any of: tasks/process-release-plans.yaml)) or (any of: tasks/process-releases.yaml)) or (any of: release-sa.yaml)

task: update result names
  tasks/wait-for-pipelinerun.yaml
Due: none

pipline: update result refrence and revision
  pipelines/bundle-build-oci-ta.yaml
Due: none

Updating generate labels task
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-push

Removing tilde from string
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Removing Duplicate release label value
  pipelines/bundle-build-oci-ta.yaml
  pipelines/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta.yaml
  pipelines/docker-build.yaml
  pipelines/fbc-builder.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push, docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push, fbc-builder-on-push

Updating Unit test go version
  tasks/go-unit-test-oci-ta.yaml
  tasks/go-unit-test.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push, docker-build-on-push

Bumping Unit test limits across all docker-builds
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Removing requsts and only increasing limits
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Removing cpu limits
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

fix: bump fbc compute resources
  pipelines/fbc-builder.yaml
Due: fbc-builder-on-push

Removing steps ffrom build pipeline
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Updating task limit
  tasks/go-unit-test-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Bumping test resource limit
  tasks/go-unit-test-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Updating unit test go image
  tasks/go-unit-test-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Adding the missing . to labels
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Adding the missing . to bundle labels
  pipelines/bundle-build-oci-ta.yaml
Due: none

Removing Duplicates
  pipelines/docker-build-oci-ta.yaml
Due: docker-build-oci-ta-on-pull-request, docker-build-oci-ta-on-push

Sealights Experimentation
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Adding necessary params
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

Updating e2e test
  pipelines/rhtas-operator-e2e.yaml
Due: none

Integration test
  pipelines/rhtas-operator-e2e.yaml
Due: none

Updating int test
  pipelines/rhtas-operator-e2e.yaml
Due: none

renaming test step
  pipelines/rhtas-operator-e2e.yaml
Due: none

fbc: rm v4.14 from workflow
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc-v1-1/overlays/fbc-v4-14-v1-1/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc-v1-1/overlays/fbc-v4-14-v1-1/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc-v1-1/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc/overlays/fbc-v4-14/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc/overlays/fbc-v4-14/patch.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/fbc/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-14/kustomization.yaml
  konflux-configs/releasePlans/promoteToCandidateRPs/pco-fbc/overlays/pco-fbc-v4-14/patch.yaml
  pipelines/policy-controller-operator-e2e.yaml
  pipelines/rhtas-operator-e2e.yaml
Due: none

removing uneeded definition
  pipelines/rhtas-operator-e2e.yaml
Due: none

Updating pipeline
  pipelines/rhtas-operator-e2e.yaml
Due: none

test: adding test-metadata task
  pipelines/rhtas-operator-e2e.yaml
Due: none

test: new after task
  pipelines/rhtas-operator-e2e.yaml
Due: none

test: replacing params to sealights
  pipelines/docker-build-multi-platform-oci-ta.yaml
Due: docker-build-multi-platform-oci-ta-on-pull-request, docker-build-multi-platform-oci-ta-on-push

test: point new branch
  pipelines/rhtas-operator-e2e.yaml
Due: none

test
  pipelines/rhtas-operator-e2e.yaml
Due: none
